<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>ESO Group Composition Calculator</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
      <header>ESO Group Composition Calculator</header>

      <main>

        <div id="target">
          Target Penetration: {{ definitions.target }}
        </div>

        <div id="group">
          <ul>
            <li v-for="item in definitions.group">
              {{ item.name }} ({{ item.value }})
            </li>
          </ul>
        </div>

        <div id="personal">
          <ul>
            <li v-for="item in definitions.personal">
              {{ item.name }} <span v-if="!item.options">({{ item.value }})</span> <span v-if="item.quantity_cap">[max of {{ item.quantity_cap }}]</span>
              <ul v-else>
                <li v-for="option in item.options">
                  {{ option.name }} ({{ option.value }})
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </main>
      <footer>Last updated for {{ definitions.eso_patch }}.</footer>
    </div>
    <script type="text/javascript">
      const { createApp } = Vue

      createApp({
        data() {
          return {
            title: '',
            definitions: {
              eso_patch: "U36",
              target: 18200,
              group: [
                {
                  name: "Major Breach",
                  value: 5948
                },
                {
                  name: "Minor Breach",
                  value: 2974
                },
                {
                  name: "Crusher",
                  value: 2108
                },
                {
                  name: "Roar of Alkosh",
                  value: 6000
                },
                {
                  name: "Crimson Oath",
                  value: 3541
                },
                {
                  name: "Tremorscale",
                  value: 2400
                }
              ],
              personal: [
                {
                  name: "Piercing CP",
                  value: 700
                },
                {
                  name: "Force of Nature CP",
                  value: 600
                },
                {
                  name: "Class Passives",
                  options: [
                    {
                      name: "Necromancer",
                      value: 1500
                    },
                    {
                      name: "Nightblade",
                      value: 2974
                    },
                    {
                      name: "Wood Elf",
                      value: 950
                    }
                  ]
                },
                {
                  name: "Mace / Maul",
                  value: 1650,
                  quantity_cap: 2
                },
                {
                  name: "Sharpened",
                  value: 1638
                },
                {
                  name: "Light Armour",
                  value: 939,
                  quantity_cap: 7
                },
                {
                  name: "Set Bonus",
                  value: 1487
                },
                {
                  name: "Lover Mundus",
                  value: 4489
                }
              ]
            }
          }
        }
      }).mount('#app')
    </script>
  </body>
</html>
